
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <!--categories-->
                <div class="categories">
                    <h1>kateqoriyalar</h1>
                    <div class="seperator"></div>
                    <ul>
                        <li><a href="categories/html.html">html</a></li>
                        <li><a href="categories/css.html">css</a></li>
                        <li><a href="categories/javascript.html">javascript</a></li>
                        <li><a href="categories/jquery.html">jquery</a></li>
                        <li><a href="categories/angular.html">angular</a></li>
                        <li><a href="categories/sql-msql.html">sql / msql</a></li>
                        <li><a href="categories/c++.html">c++</a></li>
                        <li><a href="categories/csharp.html">c#</a></li>
                        <li><a href="categories/asp.net.html">asp.net</a></li>
                        <li><a href="categories/php.html">php</a></li>
                        <li><a href="categories/java.html">java</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <!--qaynaqlar-->
                <div class="section-center">
                    <div class="last-source">
                        <h5>Ən çox oxunan onluq</h5>
                    </div>

                    <div class="most-read-ten">
                        <div class="mostTen-body">
                            <div class="mostTen">
                                <div class="mrt-number">
                                    1
                                </div>
                                <div class="mostTen-text-header">
                                    <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                    <ul>
                                        <li class="mostTen-person"><a href="#">Polad İbrahimov</a></li>
                                        <li class="mostTen-date"><a href="#">İyul 15, 2017</a></li>
                                        <li class="mostTen-file"><a href="#">HTML</a></li>
                                    </ul>
                                </div>
                                <div class="mostTen-text-body">
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                        it to make a type specimen book...
                                    </p>
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="most-read-ten">
                        <div class="mostTen-body">
                            <div class="mostTen">
                                <div class="mrt-number">
                                    2
                                </div>
                                <div class="mostTen-text-header">
                                    <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                    <ul>
                                        <li class="mostTen-person"><a href="#">Polad İbrahimov</a></li>
                                        <li class="mostTen-date"><a href="#">İyul 15, 2017</a></li>
                                        <li class="mostTen-file"><a href="#">HTML</a></li>
                                    </ul>
                                </div>
                                <div class="mostTen-text-body">
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                        it to make a type specimen book...
                                    </p>
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="most-read-ten">
                        <div class="mostTen-body">
                            <div class="mostTen">
                                <div class="mrt-number">
                                    3
                                </div>
                                <div class="mostTen-text-header">
                                    <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                    <ul>
                                        <li class="mostTen-person"><a href="#">Polad İbrahimov</a></li>
                                        <li class="mostTen-date"><a href="#">İyul 15, 2017</a></li>
                                        <li class="mostTen-file"><a href="#">HTML</a></li>
                                    </ul>
                                </div>
                                <div class="mostTen-text-body">
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                        it to make a type specimen book...
                                    </p>
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="most-read-ten">
                        <div class="mostTen-body">
                            <div class="mostTen">
                                <div class="mrt-number">
                                    4
                                </div>
                                <div class="mostTen-text-header">
                                    <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                    <ul>
                                        <li class="mostTen-person"><a href="#">Polad İbrahimov</a></li>
                                        <li class="mostTen-date"><a href="#">İyul 15, 2017</a></li>
                                        <li class="mostTen-file"><a href="#">HTML</a></li>
                                    </ul>
                                </div>
                                <div class="mostTen-text-body">
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                        it to make a type specimen book...
                                    </p>
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="most-read-ten">
                        <div class="mostTen-body">
                            <div class="mostTen">
                                <div class="mrt-number">
                                    5
                                </div>
                                <div class="mostTen-text-header">
                                    <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                    <ul>
                                        <li class="mostTen-person"><a href="#">Polad İbrahimov</a></li>
                                        <li class="mostTen-date"><a href="#">İyul 15, 2017</a></li>
                                        <li class="mostTen-file"><a href="#">HTML</a></li>
                                    </ul>
                                </div>
                                <div class="mostTen-text-body">
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                        it to make a type specimen book...
                                    </p>
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="most-read-ten">
                        <div class="mostTen-body">
                            <div class="mostTen">
                                <div class="mrt-number">
                                    6
                                </div>
                                <div class="mostTen-text-header">
                                    <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                    <ul>
                                        <li class="mostTen-person"><a href="#">Polad İbrahimov</a></li>
                                        <li class="mostTen-date"><a href="#">İyul 15, 2017</a></li>
                                        <li class="mostTen-file"><a href="#">HTML</a></li>
                                    </ul>
                                </div>
                                <div class="mostTen-text-body">
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                        it to make a type specimen book...
                                    </p>
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="most-read-ten">
                        <div class="mostTen-body">
                            <div class="mostTen">
                                <div class="mrt-number">
                                    7
                                </div>
                                <div class="mostTen-text-header">
                                    <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                    <ul>
                                        <li class="mostTen-person"><a href="#">Polad İbrahimov</a></li>
                                        <li class="mostTen-date"><a href="#">İyul 15, 2017</a></li>
                                        <li class="mostTen-file"><a href="#">HTML</a></li>
                                    </ul>
                                </div>
                                <div class="mostTen-text-body">
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                        it to make a type specimen book...
                                    </p>
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="most-read-ten">
                        <div class="mostTen-body">
                            <div class="mostTen">
                                <div class="mrt-number">
                                    8
                                </div>
                                <div class="mostTen-text-header">
                                    <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                    <ul>
                                        <li class="mostTen-person"><a href="#">Polad İbrahimov</a></li>
                                        <li class="mostTen-date"><a href="#">İyul 15, 2017</a></li>
                                        <li class="mostTen-file"><a href="#">HTML</a></li>
                                    </ul>
                                </div>
                                <div class="mostTen-text-body">
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                        it to make a type specimen book...
                                    </p>
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="most-read-ten">
                        <div class="mostTen-body">
                            <div class="mostTen">
                                <div class="mrt-number">
                                    9
                                </div>
                                <div class="mostTen-text-header">
                                    <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                    <ul>
                                        <li class="mostTen-person"><a href="#">Polad İbrahimov</a></li>
                                        <li class="mostTen-date"><a href="#">İyul 15, 2017</a></li>
                                        <li class="mostTen-file"><a href="#">HTML</a></li>
                                    </ul>
                                </div>
                                <div class="mostTen-text-body">
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                        it to make a type specimen book...
                                    </p>
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="most-read-ten">
                        <div class="mostTen-body">
                            <div class="mostTen">
                                <div class="mrt-number">
                                    10
                                </div>
                                <div class="mostTen-text-header">
                                    <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                    <ul>
                                        <li class="mostTen-person"><a href="#">Polad İbrahimov</a></li>
                                        <li class="mostTen-date"><a href="#">İyul 15, 2017</a></li>
                                        <li class="mostTen-file"><a href="#">HTML</a></li>
                                    </ul>
                                </div>
                                <div class="mostTen-text-body">
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                        it to make a type specimen book...
                                    </p>
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <!--user reting-->
                <div class="user-reting">
                    <h1>istifadəçi reytinqi</h1>
                    <!-- <div class="seperator"></div>-->
                    <div class="reting-slider">
                        <div class="owl-carousel owl-theme">
                            <div>
                                <div class="reting-info">
                                    <ul>
                                        <li>
                                            <a href="#" class="rtg-img">
                                                <img src="" alt="">
                                                <span>1</span>
                                            </a>
                                            <a href="#">Lorem Ipsum</a>
                                            <span class="rtg-num">100 xal</span>
                                        </li>
                                        <li>
                                            <a href="#" class="rtg-img">
                                                <img src="" alt="">
                                                <span>2</span>
                                            </a>
                                            <a href="#">Lorem Ipsum</a>
                                            <span class="rtg-num">100 xal</span>
                                        </li>
                                        <li>
                                            <a href="#" class="rtg-img">
                                                <img src="" alt="">
                                                <span>3</span>
                                            </a>
                                            <a href="#">Lorem Ipsum</a>
                                            <span class="rtg-num">100 xal</span>
                                        </li>
                                        <li>
                                            <a href="#" class="rtg-img">
                                                <img src="" alt="">
                                                <span>4</span>
                                            </a>
                                            <a href="#">Lorem Ipsum</a>
                                            <span class="rtg-num">100 xal</span>
                                        </li>
                                        <li>
                                            <a href="#" class="rtg-img">
                                                <img src="" alt="">
                                                <span>5</span>
                                            </a>
                                            <a href="#">Lorem Ipsum</a>
                                            <span class="rtg-num">100 xal</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div>
                                <div class="reting-info">
                                    <ul>
                                        <li>
                                            <a href="#" class="rtg-img">
                                                <img src="" alt="">
                                                <span>6</span>
                                            </a>
                                            <a href="#">Lorem Ipsum</a>
                                            <span class="rtg-num">100 xal</span>
                                        </li>
                                        <li>
                                            <a href="#" class="rtg-img">
                                                <img src="" alt="">
                                                <span>7</span>
                                            </a>
                                            <a href="#">Lorem Ipsum</a>
                                            <span class="rtg-num">100 xal</span>
                                        </li>
                                        <li>
                                            <a href="#" class="rtg-img">
                                                <img src="" alt="">
                                                <span>8</span>
                                            </a>
                                            <a href="#">Lorem Ipsum</a>
                                            <span class="rtg-num">100 xal</span>
                                        </li>
                                        <li>
                                            <a href="#" class="rtg-img">
                                                <img src="" alt="">
                                                <span>9</span>
                                            </a>
                                            <a href="#">Lorem Ipsum</a>
                                            <span class="rtg-num">100 xal</span>
                                        </li>
                                        <li>
                                            <a href="#" class="rtg-img">
                                                <img src="" alt="">
                                                <span>10</span>
                                            </a>
                                            <a href="#">Lorem Ipsum</a>
                                            <span class="rtg-num">100 xal</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>